<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Default Title{% endblock %}</title>
    <!-- Add your CSS and JavaScript files here -->
</head>
<body>
    <!-- Header -->
    <header>
        <!-- Add your header content here -->
        <h1>Welcome to My Website</h1>
    </header>

    <!-- Navigation Bar -->
    <nav>
        <!-- Add your navigation menu here -->
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
        </ul>
    </nav>

    <!-- Content -->
    <main>
        {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    <footer>
        <!-- Add your footer content here -->
        <p>&copy; 2023 My Website. All rights reserved.</p>
    </footer>
</body>
</html>
