{% extends 'accounts/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h2>Welcome to the Home Page</h2>
    <!-- Add your home page content here -->
    <p>This is the homepage content.</p>

    <!-- Registration Button -->
    <a href="{% url 'register' %}"><button>Register</button></a>

    <!-- Login Button -->
    <a href="{% url 'login' %}"><button>Login</button></a>
{% endblock %}

