{% extends 'accounts/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <h2>User Login</h2>
    <form method="post" action="{% url 'login' %}?next={{ next }}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
{% endblock %}

    <!-- <h2>User Login</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form> -->
