{% extends 'accounts/base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
    <h2>User Registration</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Register</button>
    </form>
{% endblock %}
