{% extends 'courses/base.html' %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}
    <h2>Welcome, {{ user.username }} (Admin)</h2>
    <p>You have access to admin-specific features</p>
    
    <h3>Create Course:</h3>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Create Course</button>
    </form>
    
    <h3>All Courses:</h3>
    <ul>
        {% for course in courses %}
            <li>
                {{ course.name }} - <a href="{% url 'courses:delete_course' course_id=course.id %}">Delete</a>
            </li>
        {% empty %}
            <li>No courses available.</li>
        {% endfor %}
    </ul>
{% endblock %}
