<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Default Title{% endblock %}</title>
    <!-- Add your CSS and JavaScript files here -->
</head>
<body>
    <!-- Header -->
    <header>
        <!-- Add your header content here -->
        <nav>
            <ul>
                <li><a href="{% url 'courses:logout' %}">Déconnexion</a></li>
            </ul>
        </nav>
    </header>

    <!-- Content -->
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer>
        <!-- Add your footer content here -->
        <p>&copy; 2023 My Courses. All rights reserved.</p>
    </footer>
</body>
</html>
