{% extends 'courses/base.html' %}

{% block title %}Delete Course{% endblock %}

{% block content %}
    <h2>Delete Course</h2>
    <p>Are you sure you want to delete the course "{{ course.name }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Delete</button>
        <button><a style="text-decoration: none;" href="{% url 'courses:admin_dashboard' %}">Cancel</a></button>
    </form>
{% endblock %}
