{% extends 'courses/base.html' %}

{% block title %}Courses List{% endblock %}

{% block content %}
    <h2>Courses List</h2>
    <ul>
        {% for copy in copies %}
            <li>
                {{ copy.course.name }}
                {% if request.user.user_type == 'student' %}
                    - <a href="{% url 'courses:view_copy' copy_id=copy.id %}">View Copy</a>
                    - <a href="{% url 'courses:view_marks' %}">View Marks</a>
                {% elif request.user.user_type == 'teacher' %}
                    - <a href="{% url 'courses:upload_encrypted_file' copy_id=copy.id %}">Upload Encrypted File</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
