{% extends 'courses/base.html' %}

{% block title %}Permission{% endblock %}

{% block content %}
    <h2>Enter Key Word</h2>
    <form method="post">
        {% csrf_token %}
        <textarea name="private_key" rows="5" cols="50"></textarea><br>
        <input type="submit" value="Submit">
    </form>
{% endblock %}
