{% extends 'courses/base.html' %}

{% block title %}Student Dashboard{% endblock %}

{% block content %}
    <h2>Welcome, {{ user.username }} (Student)</h2>
    <p>You have access to student-specific features:</p>
    <ul>
        {% for course in courses %}
            <li>{{ course.name }} - {{ course.id }}</li>
        {% endfor %}
        <a href="{% url 'courses:permission' %}">View marks</a>
    </ul>
{% endblock %}
