{% extends 'courses/base.html' %}

{% block title %}Teacher{% endblock %}

{% block content %}
<h2>Welcome, {{ user.username }} (Teacher)</h2>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        
        <button type="submit">Create Copy</button>
    </form>

    <h2>Followed Students:</h2>
    <ul>
        {% for student in students %}
            <li>{{ student.username }}</li>
        {% endfor %}
    </ul>
{% endblock %}

