{% extends 'courses/base.html' %}

{% block title %}View Copies{% endblock %}

{% block content %}
    <h2>Your Copies</h2>
    <ul>
        {% for copy in decrypted_content %}
        <li>Copy for: {{ copy }}     
            <a href="{% url 'courses:download_encrypted_file' %}" download>Download</a>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
