{% extends 'courses/base.html' %}

{% block title %}View Marks{% endblock %}

{% block content %}
    <h1>Graded Copies Information</h1>
    <ul>
        {% for copy_info in copy_data %}
        <li>
            <strong>Course Name:</strong> {{ copy_info.course_name }}<br>
            <strong>Mark Student:</strong> {{ copy_info.mark_student }}
        </li>
        {% endfor %}
    </ul>
{% endblock %}
